<%= form_with(model: cash, local: true) do |form| %>
  <% if cash.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cash.errors.count, "error") %> prohibited this cash from being saved:</h2>

      <ul>
      <% cash.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :concept %>
    <%= form.text_field :concept %>
  </div>

  <div class="field">
    <%= form.label :coin %>
    <%= form.text_field :coin %>
  </div>

  <div class="field">
    <%= form.label :entry %>
    <%= form.text_field :entry %>
  </div>

  <div class="field">
    <%= form.label :egress %>
    <%= form.text_field :egress %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
